
#suBtn{
    margin-left: 450px;
}
.lang{
    border-radius: 5px;
}
.date{
    border-radius: 5px;
}
.searchForm{
    margin-left: 5px;
    width: 500px;
}
.btn{
    margin-left: 5px;
}